.login{
    background-image: url('../../images/deadpool.jpg');
    background-size: cover;
    min-height: 100vh;

}

h1{
    color: #649ff9;
    font-weight:bold;
}

.containerLogin{
    width: 40%;
    margin-left: 30%;
}

.buttonSubmit{
    margin-top: 20px;
}

